<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">   
                <h2> Our Agile software development process is designed based on the fundamentals of Agile methodology.
                        Our software engineer teams apply the practices of Agile frameworks, including Scrum, Kanban.</h2>
                        <hr class="light">
             <br>
                <h3 class="section-heading">Manifesto for Agile Software Development become the compass for our engineers</h3>
                <br>
                <p class="text-faded">
                        <p>
                                <font size="+1">
                                We are uncovering better ways of developing<br>
                                software by doing it and helping others do it.<br>
                                Through this work we have come to value:<br>      
                                </font>       
                        </p>
                        <p>
                                <font size="+1"></font><font size="+2">Individuals and interactions </font><font size="+1">over processes and tools<br></font>
                                <font size="+1"></font><font size="+2">Working software </font><font size="+1">over comprehensive documentation<br></font>
                                <font size="+1"></font><font size="+2">Customer collaboration </font><font size="+1">over contract negotiation<br></font>
                                <font size="+1"></font><font size="+2">Responding to change </font><font size="+1">over following a plan<br></font> 
                        </p>

                        <font size="+1">
                                That is, while there is value in the items on<br>
                                the right, we value the items on the left more.<br>
                        </font>
                </p>
                <a href="#contact" class="btn btn-default btn-xl">CONTACT US </a>
            </div>
        </div>
    </div>
</section>
