<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>AT SPD SOLUTIONS, OUR MISSION IS MAKING SOFTWARE DEVELOPMENT A WORTHY AND HIGH RETURN INVESTMENT FOR COMPANY AROUND THE WORLD.</h2>
            <hr>
            <p>
                    Our Agile software development process is designed based on the fundamentals of Agile methodology.
                    Our software engineer teams apply the practices of Agile frameworks, including Scrum, Kanban.     
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
